
.home-container{
    margin-top: 90px;
    width: 100%;
    min-height: 200vh;
    overflow: hidden;
}
.home-row{
    height:500px;
}
.home-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-left h1{
    margin: 10px 0px;
    font-size: 45px;
}
.home-left p{
    margin: 10px 0px;
    font-size: 23px;
    font-weight: 400;
}

.home-btn{
border:none;
outline: none;
padding: 10px 30px;
}

.home-btn:nth-child(1){
background-color: #f9c935;
border-radius:30px 30px 30px 0px;
}

.home-btn:nth-child(2){
background-color: #000;
color: white;
border-radius:30px 30px 0px 30px;
}

.home-right{
    position: relative;
}
.background_image {
    background-color: #f9c935;
    width: 900px;
    height: 500px;
    border-radius: 350px;
    top: 20px;
    position: absolute;
    right: -10px;
    rotate: -45deg;
    overflow: hidden;
    z-index: -1;
    transform: translatex(250px);
}
.page_one_image img {
    height: 550px;
    rotate: 45deg;
    margin-top: 0px;
    margin-left: -180px;
}

.safety-img-container{
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
    margin-top: 80px;
    min-height: 5px;
}
.bike-img-mobile{
    width: 100%;
    background-color: #f9c935;
    display: flex;
    justify-content: center;
    align-items: center;
}
.know-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap:15px;
}
.container{
    width: 50%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
  padding: 0px;
}
.container:nth-child(1){
    align-items: end;
}
.container:nth-child(2){
    align-items: start;
}
.know-img-1{
    max-width: 125px;
    width: 100%;
    height: 175px;
    border-radius: 100px 100px 0px 100px;
    overflow: hidden;
}
.design-1{
    width: 50px;
    height: 110px;
    background-color: #f9c935;
    border-radius: 30px 0px 30px 30px;
    margin-top: 100px;
}
.design-2{
    width: 75px;
    height: 50px;
    background-color: #f9c935;
    border-radius: 30px 30px 30px 0px;
    margin: 60px 0px;
}
.know-img-2{
    max-width: 200px;
    width: 100%;
    height: 300px;
    border-radius: 0px 100px 100px 100px;
    overflow: hidden;
}

.head-line{
    width: 50px;
    height: 3px;
    background-color: #f9c935;
}
.know-us-text{
    width: 400px;
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0px;
}
.read-more-btn{
    border: none;
    outline: none;
    background-color: #f9c935;
    padding: 10px 30px;
    border-radius: 30px 30px 30px 0px;
    font-weight:600;
    margin: 30px 0px;
}

.our-impact-container{
    background-color: #ffe7a0;
    padding: 20px 0px;
}
.impact-text{
    font-size: 16px;
    max-width: 600px;
    width: 100%;
    font-weight: 500;
    margin: 10px 0px;
}
.container-2{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}
.box-1{
    flex-basis: 25%;
}
.box{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    margin: 0px auto;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
}
.presence-img{
    width: 45px;
    height: 40px;
    margin-top: 10px;
}
.box bold{
    font-weight:bold;
    margin-top: 5px;
}
.box p{
    font-weight: 600;
}


@media(width<767px) {
    .home-left h1{
        font-size: 35px;
    }
    .home-row{
        height: fit-content;
    }
    .home-left p{
        font-size: 16px;
        font-weight: 500;
    }
    .home-btn{
        padding: 10px 20px;
        font-size: 13px;
    }
    .know-img-1{
    max-width: 110px;
    width: 100%;
    height: 160px;
    }
    .know-img-2{
        max-width: 125px;
        width: 100%;
        height: 200px;
    }
    .design-1{
        margin-top: 45px;
    }
   .know-us-text{
    width: 320px;
   }
   .box-1{
    flex-basis: 50%;
    margin-top: 15px;
   }
   .safety-img-container{
    margin-top: 0px;
   }
    
}
@media(767px<=width<=991px){
    .safety-img-container{
        margin-top: 0px;
    }
}
