.nav-container{
    width: 100%;
    min-height: 10px;
    background-color: #ffffff;  
    /* background: transparent; */
    position: fixed;
    top: 0;
    z-index:2;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-logo{
    width: 100px;
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-links{
    font-size: 15px;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    cursor: pointer;
}
.nav-links-active{
    font-weight: 600;
    border-bottom: 2px solid black;
}
.nav-links::before{
    content: '';
    width: 0;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: -2px;
    transition: 0.2s;
}
.nav-links:hover::before{
    width: 100%;
}
.app-download-btn{
    border: none;
    outline: none;
    background-color: #000;
    border-radius: 50px;
    padding: 5px 20px;
    color: white;
    font-weight: 700;
}

.menu-icons{
    display: flex;
    align-items: center;
    gap: 30px;
}

.download-text{
    padding: 0;
    margin: 0;
    font-weight: 500;
}
.menu-bar{
    font-size: 20px;
    color: #f9c935;
}
#offcanvas-bar{
    background-color: #f9c935;
}
@media(width<767px){
    .nav-menu{
        flex-direction: column;
    }
    .app-logo{
        width: 80px;
    }
    .nav-links{
        font-size: 18px;
    }
}
