.careers-container{
    width: 95%;
    min-height: 200px;
    margin: 90px 1% 0px 1%;
}

.career-left h1{
    margin: 10px 0px;
    font-size: 45px;
}

.career-left p{
    font-size: 20px;
   font-weight: 400;
}

.why-with-us-container{
    max-width: 1000px;
    width: 100%;
    min-height: 200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.benifits-wrapper{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    gap: 10px;
}

.benifits{
    flex-basis: 30%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
    padding: 0px 10px;
  gap: 10px;
}
.benifits-img{
    width: 80px;
}
.benifits-text{
    font-weight: 400;
    font-size: 15px;
}

@media(width<=767px){
    .career-left h1{
        font-size: 35px;
    }
    .benifits{
        flex-basis: 100%;
        align-items: center;
    text-align: center;
    justify-content: center;
    }
    .why-with-us-container{
    align-items: center;
    }
}

@media(767px<=width<=991px){
    .benifits{
        flex-basis: 45%;
        align-items: center;
    text-align: center;
    justify-content: center;
    }
    .why-with-us-container{
        align-items: center;
        }
}